
:root {
  --background-color: #1a1a1a;
  --page-background-color: #ffffff;
  --link-color: #007acc;
  --main-text-color: #1a1a1a;
  --secondary-text-color: #686868;
  --border-color: rgba( 26, 26, 26, 0.2 );
  --form-color: #f7f7f7;
  --font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
  --font-family-input: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
  --font-family-mono: inconsolata, monospace;
  --font-family-title: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
      }
