.widget {
	border-top: 4px solid var(--main-text-color);
	margin-bottom: 3.5em;
	padding-top: 1.75em;
}

.widget-area > :last-child,
.widget > :last-child,
.widget > nav > :last-child {
	margin-bottom: 0;
}

.widget .widget-title {
	font-family: var(--font-family-input);
	font-size: 16px;
	font-size: 1rem;
	letter-spacing: 0.046875em;
	line-height: 1.3125;
	margin: 0 0 1.75em;
	text-transform: uppercase;
}

.widget .widget-title:empty {
	margin-bottom: 0;
}

.widget-title a {
	color: var(--main-text-color);
}

/* Calendar widget */
.widget.widget_calendar table {
	margin: 0;
}

.widget_calendar .wp-calendar-nav {
	display: table;
	width: 100%;
}

.widget_calendar .wp-calendar-nav span {
	display: table-cell;
}

.widget_calendar .wp-calendar-nav-prev,
.widget_calendar .wp-calendar-nav-next {
	width: 40%;
}

.widget_calendar td,
.widget_calendar th,
.widget_calendar .wp-calendar-nav span {
	line-height: 2.5625;
	padding: 0;
	text-align: center;
}

.widget_calendar caption {
	font-weight: 900;
	margin-bottom: 1.75em;
}

.widget_calendar tbody a {
	background-color: var(--link-color);
	color: var(--page-background-color);
	display: block;
	font-weight: 700;
}

.widget_calendar tbody a:hover,
.widget_calendar tbody a:focus {
	background-color: var(--secondary-text-color);
	color: var(--page-background-color);
}

/* Recent Posts widget */
.widget_recent_entries .post-date {
	color: var(--secondary-text-color);
	display: block;
	font-family: var(--font-family-input);
	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 1.615384615;
	margin-bottom: 0.538461538em;
}

.widget_recent_entries li:last-child .post-date {
	margin-bottom: 0;
}

/* RSS widget */
.widget_rss .rsswidget img {
	margin-top: -0.375em;
}

.widget_rss .rss-date,
.widget_rss cite {
	color: var(--secondary-text-color);
	display: block;
	font-family: var(--font-family-input);
	font-size: 13px;
	font-size: 0.8125rem;
	font-style: normal;
	line-height: 1.615384615;
	margin-bottom: 0.538461538em;
}

.widget_rss .rssSummary:last-child {
	margin-bottom: 2.1538461538em;
}

.widget_rss li:last-child :last-child {
	margin-bottom: 0;
}

/* Tag Cloud widget */
.tagcloud a {
	border: 1px solid #d1d1d1;
	border-radius: 2px;
	display: inline-block;
	font-family: var(--font-family-input);
	line-height: 1;
	margin: 0 0.1875em 0.4375em 0;
	padding: 0.5625em 0.4375em 0.5em;
}

.tagcloud a:hover,
.tagcloud a:focus {
	border-color: var(--link-color);
	color: var(--link-color);
	outline: 0;
}
