.site {
	background-color: #fff;
}

.site-inner {
	margin: 0 auto;
	max-width: 1320px;
	position: relative;
}

.site-content {
	word-wrap: break-word;
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

.site-main {
	margin-bottom: 3.5em;
}

.site-main > :last-child {
	margin-bottom: 0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
@import "header";

/*--------------------------------------------------------------
# Archives
--------------------------------------------------------------*/
@import "archives";

/*--------------------------------------------------------------
# Posts and Pages
--------------------------------------------------------------*/
@import "posts_and_pages";

/*-------------------------------------------------------------
# Post Formats
-------------------------------------------------------------*/
@import "post-formats";

/*-------------------------------------------------------------
# Comments
-------------------------------------------------------------*/
@import "comments";

/*-------------------------------------------------------------
# Sidebar
-------------------------------------------------------------*/
@import "sidebar";

/*-------------------------------------------------------------
# Footer
-------------------------------------------------------------*/
@import "footer";


