@media (prefers-color-scheme: dark) {
  :root {
  --background-color: #262626;
  --page-background-color: #1a1a1a;
  --link-color: #9adffd;
  --main-text-color: #e5e5e5;
  --secondary-text-color: #c1c1c1;
  --border-color: rgba( 229, 229, 229, 0.2 );
      }
}


